{% extends "base.html" %}

{% load i18n %}


{% block content %}
<div class="register-box">
  <div class="register-form">
    
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <p>
      {% url 'account_signup_author' as account_signup_author_url %}
      {% blocktrans %}Registering as an Author? Then please <a href="{{ account_signup_author_url }}">sign up as author</a>.{% endblocktrans %}
    </p>
    <!-- <p>{% blocktrans %}Registering as a Author? Then please <a href="{{% account_signup_author_url %}}">sign up as author</a>.{% endblocktrans %}</p> GET URL, Make page -->

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="singup-button-box">
        <button type="submit" class="signup-button">{% trans "Sign Up" %} &raquo;</button>  
      </div>
      
    </form>

  </div>  
</div>

{% endblock content %}

{% block extras %}
{% endblock extras %}