{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Book Page content starts here -->
<div class="booktitle-ribbon">
    <h3 class="booktitle">{{ book.booktitle }}</h3>
    <i class="fa-solid fa-heart fa-2xl Save-Book-Info" style="color: #ffffff;"></i>
    <i class="fa-solid fa-gear fa-2xl Options-Book-Info" style="color: #ffffff;"></i>
</div>

<section class="main_purchase_info">
    <div class="bookcover-purchase">
        <img src="{{ book.bookcover.url }}" class="Book-Cover-Image" alt="{{ book.booktitle }}"> 
        
            <div class="purchase-button">
                <!-- Purchase Button  -->
                <!-- When Clicked Will call move_game_to_chosen which will get it from the list and move it to the users purchased list -->
                <form id="id_purchase_book" action="{%url 'move_book' book.booktitle %}" method="post">
                    {% csrf_token %}
                    <button id="purchasedButton" type="submit" class="btn btn-primary Red_purchase_button">Purchase</button>
                </form>

                <!-- Check Purchase Button  -->
                <!-- When Clicked Will call check_game_purchased which will check if the game is already in the users purchased list -->
                <!-- This is not displayed and the user can not interact with this, Couldnt find an easier way to automate this so created a button 
                    that is display:none but has a script that on load will click this button automatically calling a python function -->
                <form id="id_check_book_purchased" action="{%url 'check_book_purchased' book.booktitle %}" method="post" style="display: none;">
                    {% csrf_token %}
                    <button id="checkPurchasedButton" type="submit" class="btn btn-primary Red_purchase_button">Check Purchase</button>
                </form>
            </div>
    </div>

    

    <div class="book-info">
        <div class="book-info-top">
            <h5>{{ book.authorname }}</h5>
            <h5>Genres: </h5>
            <p>
                {% for genre in book.genre.all %}
                    {{ genre }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No genres available
                {% endfor %}
            </p>
            <h5>{{ book.chapter }} Chapters</h5>
            <h5>{{ book.bookrating }}</h5>
        </div>

        <div class="book-info-bottom-tablet">
            <h5>About:</h5>
            <h5>{{ book.bookdescription }}</h5>
            <h5>Topics</h5>
            <p>
                {% for topics in book.topics.all %}
                    {{ topics }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No Topics available
                {% endfor %}
            </p>
        </div>
    </div>
</section>

<div class="book-info-bottom">
    <h5>About:</h5>
    <p>{{ book.bookdescription }}</p>
    <h5>Topics</h5>
    <p>
        {% for topics in book.topics.all %}
            {{ topics }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            No Topics available
        {% endfor %}
    </p>
</div>


<!-- Comment Count -->
<div class="row">
    <div class="col-12">
        <strong class="text-secondary">
            <i class="far fa-comments"></i> {{ comment_count }}
        </strong>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>

<!-- Comments Are Listed Here -->
<div class="row ">
    <div class="col-md-8 card mb-4 mt-3 comments">
        <h3 class="commentheading">Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="p-2 comments{% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ comment.author }} | {{ comment.created_on }}
                </p>
                <div><h4 id="title{{ comment.id }}">{{ comment.title }}</h4></div>
                <div>Playstaion Level | <span id="level{{ comment.id }}">{{ comment.level }}</span></div>
                <p>Rating | <span id="rating{{ comment.id }}">{{ comment.rating }}</span></p>
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#commentDetails{{ comment.id }}" aria-expanded="false" aria-controls="commentDetails{{ comment.id }}">
                    View Details
                </button>
                <div class="collapse" id="commentDetails{{ comment.id }}">
                    <div class="col-12">
                        <hr>
                    </div>
                    <div id="text{{ comment.id }}" style="font-weight: bold;">{{ comment.body | linebreaks }}</div>
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">This comment is awaiting approval</p>
                {% endif %}
                {% if user.is_authenticated and comment.author == user %}
                <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Comment Form -->
    <!-- If user is not logged in as well as if they have not purchased the game they can not create a comment on the Game Post -->
    <div class="col-md-4 card mb-4 mt-3 ">
        <div class="card-body">
            <!-- If User is not Signed In -->
            {% if user.is_authenticated %}
                <!-- If User has Purchased the Game -->
                {% if request.GET.purchased == 'true' %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                {% endif %}
                {% if request.GET.purchased == 'false' %}
                <p>Purchase the Game to leave a comment</p>
                {% endif %}
            {% else %}
                <p>Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
</div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete your comment? This action cannot be undone.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
</div>

<!-- Book Page content ends here -->
{% endblock content%}

{% block extras %}
<script src="{% static 'js/purchase_checker.js' %}"></script>
{% endblock extras %}