{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Book Page content starts here -->

<form id="wishlist_form" action="{% url 'move_wishlist_book' book.booktitle %}" method="post" class="booktitle-ribbon">
    <h3 class="booktitle">{{ book.booktitle }}</h3>
    {% csrf_token %}
    <button type="submit" class="wishlist-toggle" style="background: none; border: none; padding: 0;">
        <i class="fa-solid fa-heart fa-2xl Save-Book-Info wishlist-icon {% if book in user.profile.wishlisted_books.all %}active{% endif %}"></i>
    </button>
    <i class="fa-solid fa-gear fa-2xl Options-Book-Info" style="color: #ffffff; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#optionsModal"></i>
</form>

<section class="main_purchase_info">
    <div class="bookcover-purchase">
        <img src="{{ book.bookcover.url }}" class="Book-Cover-Image" alt="{{ book.booktitle }}"> 

        <div>
             <!-- Purchase Button -->
            <form id="id_purchase_book" action="{% url 'move_book' book.booktitle %}" method="post">
                {% csrf_token %}
                {% if book in user.profile.purchased_books.all %}
                    <button id="purchasedButton" type="button" class="btn btn-primary Red_purchase_button purchase-button" disabled>Purchased</button>
                {% else %}
                    <button id="purchasedButton" type="submit" class="btn btn-primary Red_purchase_button purchase-button">£{{ book.bookprice }}</button>
                {% endif %}
            </form>

            <!-- Check Purchase Button  -->
            <!-- When Clicked Will call check_game_purchased which will check if the game is already in the users purchased list -->
            <!-- This is not displayed and the user can not interact with this, Couldnt find an easier way to automate this so created a button 
                that is display:none but has a script that on load will click this button automatically calling a python function -->
            <!-- <form id="id_check_book_purchased" action="{%url 'check_book_purchased' book.booktitle %}" method="post" style="display: none;">
                {% csrf_token %}
                <button id="checkPurchasedButton" type="submit" class="btn btn-primary Red_purchase_button purchase-button">Check Purchase</button>
            </form> -->
        </div>
    </div>



    <div class="book-info">
        <div class="book-info-top">
            <h5>{{ book.authorname }}</h5>
            <h5>Genres: </h5>
            <p>
                {% for genre in book.genre.all %}
                    {{ genre }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No genres available
                {% endfor %}
            </p>
            <h5>{{ book.chapter }} Chapters</h5>
            <h5>{{ book.bookrating }}</h5>
        </div>

        <div class="book-info-bottom-tablet">
            <h5>About:</h5>
            <h5>{{ book.bookdescription }}</h5>
            <h5>Topics</h5>
            <p>
                {% for topics in book.topics.all %}
                    {{ topics }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No Topics available
                {% endfor %}
            </p>
        </div>
    </div>
</section>

<div class="book-info-bottom">
    <h5>About:</h5>
    <p>{{ book.bookdescription }}</p>
    <h5>Topics</h5>
    <p>
        {% for topics in book.topics.all %}
            {{ topics }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            No Topics available
        {% endfor %}
    </p>
</div>

<!-- Series NOT COMPLETE -->
<div class="container mt-5 shelf-container-nonfiction">

    <div class="shelf-title-wrapper">
        <span class="shelf-title">Series</span>
    </div>

    <div id="nonFictionCarousel" class="carousel slide">
        <div class="carousel-inner">
            {% for book in book_list %}
                {% for genre in book.genre.all %}
                    {% if genre.name == 'Non-Fiction' %}
                        {% if forloop.counter0|divisibleby:3 %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="d-flex justify-content-center">
                        {% endif %}

                        <div class="card mx-2 Book">
                            <a href="{% url 'book_details_list' book.slug %}">
                                <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                            </a>
                            <div class="card-body book-title-index">
                                <h5 class="card-title">{{ book.booktitle }}</h5>
                            </div>
                        </div>

                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                                </div> <!-- .d-flex -->
                            </div> <!-- .carousel-item -->
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#nonFictionCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#nonFictionCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>

        <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
    </div>
</div>

<!-- Similar Books -->
<div class="container mt-5 shelf-container-similar">
    <div class="shelf-title-wrapper">
        <span class="shelf-title">Similar Books</span>
    </div>

    <div id="similarBooksCarousel" class="carousel slide">
        <div class="carousel-inner">
            {% for similar_book in similar_books %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="d-flex justify-content-center">
                {% endif %}

                <div class="card mx-2 Book">
                    <a href="{% url 'book_details_list' similar_book.slug %}">
                        <img src="{{ similar_book.bookcover.url }}" class="card-img-top" alt="{{ similar_book.booktitle }}">
                    </a>
                    <div class="card-body book-title-index">
                        <h5 class="card-title">{{ similar_book.booktitle }}</h5>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 or forloop.last %}
                        </div> <!-- .d-flex -->
                    </div> <!-- .carousel-item -->
                {% endif %}
            {% empty %}
                <p>No similar books found.</p>
            {% endfor %}
        </div>
        {% if similar_books|length > 3 %}
            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#similarBooksCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#similarBooksCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        {% endif %}

        <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
    </div>
</div>

<!-- By Author NOT COMPLETE -->
<div class="container mt-5 shelf-container-nonfiction">

    <div class="shelf-title-wrapper">
        <span class="shelf-title">By Author</span>
    </div>

    <div id="nonFictionCarousel" class="carousel slide">
        <div class="carousel-inner">
            {% for book in book_list %}
                {% for genre in book.genre.all %}
                    {% if genre.name == 'Non-Fiction' %}
                        {% if forloop.counter0|divisibleby:3 %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="d-flex justify-content-center">
                        {% endif %}

                        <div class="card mx-2 Book">
                            <a href="{% url 'book_details_list' book.slug %}">
                                <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                            </a>
                            <div class="card-body book-title-index">
                                <h5 class="card-title">{{ book.booktitle }}</h5>
                            </div>
                        </div>

                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                                </div> <!-- .d-flex -->
                            </div> <!-- .carousel-item -->
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#nonFictionCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#nonFictionCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>

        <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
    </div>
</div>

<!-- Review Section -->
<div class="review-box">
    <!-- Review Info -->
    <div class="reviews-info">
        <h5 class="review-total">Reviews Total: {{ book.comments.count }}</h5>

        <div class="rating">
            {% with total=book.average_rating|default:0 %}
                {% for i in "12345" %}
                    {% if total >= i|add:"0" %}
                        <span>★</span>
                    {% else %}
                        <span>☆</span>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </div>

    </div>

    <!-- Create A Review -->
    <div class="leave-review">
        <div class="create-a-review-box">
            <div class="Create-review-header">
                <i class="fa-solid fa-plus fa-xl toggle-review-form create-review-icon" style="cursor: pointer;"></i>
                <h3 class="create-review-text">Create a Review</h3>
            </div>  
        </div>

        <div class="leave-review-form" style="display: none;">
            <div class="card-body">
                {% if user.is_authenticated %}
                    {% if not user.is_superuser and user.profile.role != 'Author' %}
                        {% if book in user.profile.purchased_books.all %}
                            <h3>Leave a Review:</h3>
                            <p>Posting as: {{ user.username }}</p>
                            <form id="commentForm" method="POST" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>
                        {% else %}
                            <p>Purchase the Book to leave a Review</p>
                        {% endif %}
                    {% else %}
                        <p>As an Author or Administrator, you cannot leave reviews.</p>
                    {% endif %}
                {% else %}
                    <p>Log in to leave a Review</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Reviews Are Listed Here -->
    <div class="Reviews">
        <div class="view-reviews">
            {% if user.is_authenticated %}
                {% for comment in comments %}
                    <div id="comment-{{ comment.id }}" class="comment">
                        {% if comment.author == user %}
                            <div class="p-2 review{% if not comment.approved %} faded{% endif %}">
                                <div class="review-user-info">
                                    <h3 class="Review-Author">
                                        {{ comment.author }} (You)
                                    </h3>
                                    <h3 class="User-Review-Rating">
                                        {{ comment.rating }}/5
                                    </h3>  
                                    <h3 class="User-Review-Date">
                                        {{ comment.created_on }}
                                    </h3>  
                                </div>
                                <div>
                                    <h4 id="title{{ comment.id }}">{{ comment.title }}</h4>
                                    <div id="text{{ comment.id }}" style="font-weight: bold;">{{ comment.body | linebreaks }}</div>
                                </div>
                                {% if not comment.approved %}
                                    <p class="approval">This Review is awaiting approval</p>
                                {% endif %}
                                <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                                <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {% for comment in comments %}
                {% if comment.author != user %}
                    <div class="p-2 review{% if not comment.approved %} d-none{% endif %}">
                        <div class="review-user-info">
                            <h3 class="Review-Author">
                                {{ comment.author }}
                            </h3>
                            <h3 class="User-Review-Rating">
                                {{ comment.rating }}/5
                            </h3>  
                            <h3 class="User-Review-Date">
                                {{ comment.created_on }}
                            </h3>  
                        </div>
                        <div>
                            <h4 id="title{{ comment.id }}">{{ comment.title }}</h4>
                            <div id="text{{ comment.id }}" style="font-weight: bold;">{{ comment.body | linebreaks }}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Review?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your Review? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
    
<!-- Options Modal -->
<div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionsModalLabel">Hide Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <p>This allows you to hide Authors, Books or Topics you dont want to see again. This prevents them from appearing under searches or on your home page. To unhide the selected choice go to your account and select the eye next to the hidden catagory. </p>

            <div class="modal-body">
                <form id="hideOptionsForm" method="POST" action="{% url 'hide_options' book.id %}">
                    {% csrf_token %}
                    <!-- <div class="mb-3">
                        <label class="form-check-label">
                            <input type="checkbox" name="hide_author" class="form-check-input">
                            Hide Author <i class="fa-solid fa-eye-slash"></i>
                        </label>
                    </div> -->
                    <div class="mb-3 hide-option">
                        <input type="checkbox" name="hide_book" class="form-check-input visually-hidden" id="hideBook" {% if is_book_hidden %}checked{% endif %}>
                        <label class="form-check-label d-flex align-items-center" for="hideBook">
                            <span class="me-2">Hide Book</span>
                        </label>
                        <i class="fa-solid {% if is_book_hidden %}fa-eye{% else %}fa-eye-slash{% endif %} toggle-hide" data-target="hideBook"></i>
                    </div>
                    <div class="mb-3">
                        <label>Hide Topics:</label>
                        {% for topic in book.topics.all %}
                            <div class="mb-3 hide-option">
                                {% with topic_id=topic.id|stringformat:"s" %}
                                <input type="checkbox" name="hide_topics" value="{{ topic.id }}" class="form-check-input visually-hidden" id="hideTopic{{ topic.id }}" {% if topic_visibility|get_item:topic_id %}checked{% endif %}>
                                <label class="form-check-label d-flex align-items-center" for="hideTopic{{ topic.id }}">
                                    <span class="me-2">{{ topic.name }}</span>
                                </label>
                                <i class="fa-solid {% if topic_visibility|get_item:topic_id %}fa-eye-slash{% else %}fa-eye{% endif %} toggle-hide" data-target="hideTopic{{ topic.id }}"></i>
                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="fix-footer-index">
    <span class="fix-footer-inner"> TESTING 123 </span>
</div>

<!-- Book Page content ends here -->

{% endblock content%}

{% block extras %}
<script src="{% static 'js/eye.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
<!-- <script src="{% static 'js/purchase_checker.js' %}"></script> -->
{% endblock extras %}
