{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block content %}


<form action="{% url 'book_search' %}" method="get" class="Search-ribbon">
    <input type="text" name="q" placeholder="Search books..." value="{{ request.GET.q }}" class="search-box">
    <button type="submit" class="search-button">
        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
    </button>
</form>

<!-- {{ book_list|length }}
    {% for book in book_list %}
        {{ book.title }}
    {% endfor %}

{{ popular_books|length }}
    {% for book in popular_books %}
        {{ book.title }}
    {% endfor %} -->

{% if request.GET.q %}
    <!-- Search Results -->
    <div class="container shelf-container">
        <div class="Search_Info">
            <h2 class="searchtext">Search Results for "{{ request.GET.q }}"</h2>
        </div>
        <div class="row row-cols-3 row-cols-md-4 row-cols-lg-8">
            {% for book in book_list_search %}
                <div class="col mb-2">
                    <div class="card Book ">
                        <a href="{% url 'book_details_list' book.slug %}">
                            <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                        </a>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <div class="search_empty_box">
                        <p class="searchempty">No books found matching your search.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>

    {% if is_paginated %}
        <!-- Pagination controls here -->
    {% endif %}

{% else %}
    <!-- Default Shelves -->
    {% if user.is_authenticated %}
        <!-- New Additions Section -->
        {% with new_additions=user.profile.visible_books.all|filter_new_additions %}
            {% if new_additions %}
                <div class="container mt-5 shelf-container">
                    <div class="shelf-title-wrapper">
                        <span class="shelf-title">New Additions</span>
                    </div>
                    
                    <div id="newadditionsCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            {% for book in new_additions|filter_status:1 %}
                                {% if forloop.counter0|divisibleby:device_type %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="d-flex justify-content-center">
                                {% endif %}

                                <div class="card mx-2 Book">
                                    <a href="{% url 'book_details_list' book.slug %}">
                                        <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                                    </a>
                                </div>

                                {% if forloop.counter|divisibleby:device_type or forloop.last %}
                                        </div> <!-- .d-flex -->
                                    </div> <!-- .carousel-item -->
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if new_additions|length > device_type %}
                            <!-- Carousel Controls -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#newadditionsCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#newadditionsCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                        {% endif %}

                        <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        <!-- Popular Authors Section, ADD FUNCTIONALITY -->
        <div style="display: none;">
            {% with popular_books=book_list|filter_and_sort_by_rating %}
            {% if popular_books %}
                <div class="container mt-5 shelf-container">
                    <div class="shelf-title-wrapper">
                        <span class="shelf-title">Popular Authors</span>
                    </div>
                    
                    <div id="popularauthorsCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            {% for book in popular_books %}
                                {% if forloop.counter0|divisibleby:device_type %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="d-flex justify-content-center">
                                {% endif %}

                                <div class="card mx-2 Book">
                                    <a href="{% url 'book_details_list' book.slug %}">
                                        <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                                    </a>
                                    <div class="card-body book-title-index">
                                        <h5 class="card-title">{{ book.booktitle }}</h5>
                                    </div>
                                </div>

                                {% if forloop.counter|divisibleby:device_type or forloop.last %}
                                        </div> <!-- .d-flex -->
                                    </div> <!-- .carousel-item -->
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if popular_books|length > device_type %}
                            <!-- Carousel Controls -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#popularauthorsCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#popularauthorsCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                        {% endif %}

                        <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        </div>
        
        <!-- Popular Shelf -->
        {% with popular_books=book_list|filter_and_sort_by_rating_search %}
            <div class="container mt-5 shelf-container-popular">
                <div class="shelf-title-wrapper">
                    <span class="shelf-title">Popular</span>
                </div>
                
                <div id="popularCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        {% for book in popular_books|slice:":12" %}
                            {% if forloop.counter0|divisibleby:device_type %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="d-flex justify-content-center">
                            {% endif %}

                            <div class="card mx-2 Book">
                                <a href="{% url 'book_details_list' book.slug %}">
                                    <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                                </a>
                                <div class="card-body book-title-index">
                                    <h5 class="card-title">{{ book.booktitle }}</h5>
                                </div>
                            </div>

                            {% if forloop.counter|divisibleby:device_type or forloop.last %}
                                    </div> <!-- .d-flex -->
                                </div> <!-- .carousel-item -->
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    {% if popular_books|length > device_type %}
                        <!-- Carousel Controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#popularCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#popularCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    {% endif %}

                    <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
                </div>
            </div>
        {% endwith %}

        {% if user.is_authenticated and random_purchase %}
            <!-- Similar to Random Purchased Book Shelf -->
            {% with filtered_similar_books=similar_books %}
                {% if filtered_similar_books %}
                    <div class="container mt-5 shelf-container">
                        <div class="shelf-title-wrapper">
                            <span class="shelf-title">Similar to Your Purchases</span>
                        </div>
                        
                        <div id="similarBooksCarousel" class="carousel slide">
                            <div class="carousel-inner">
                                {% for book in filtered_similar_books %}
                                    {% if forloop.counter0|divisibleby:device_type %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <div class="d-flex justify-content-center">
                                    {% endif %}

                                    <div class="card mx-2 Book">
                                        <a href="{% url 'book_details_list' book.slug %}">
                                            <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                                        </a>
                                        <div class="card-body book-title-index">
                                            <h5 class="card-title">{{ book.booktitle }}</h5>
                                        </div>
                                    </div>

                                    {% if forloop.counter|divisibleby:device_type or forloop.last %}
                                            </div> <!-- .d-flex -->
                                        </div> <!-- .carousel-item -->
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if filtered_similar_books|length > device_type %}
                                <!-- Carousel Controls -->
                                <button class="carousel-control-prev" type="button" data-bs-target="#similarBooksCarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#similarBooksCarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                            {% endif %}

                            <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endif %}
        
        <!-- Reccommended Shelf -->
        <!-- FIX THIS Recommended = hidden authors FIX THIS-->
        {% if user.profile.favorite_genre %}
            {% with recommended_books=user.profile.visible_books.all|filter_by_favorite_genre:user %}
                <div class="container mt-5 shelf-container-recommended">
                    <div class="shelf-title-wrapper">
                        <span class="shelf-title">Recommended Books</span>
                    </div>

                    <div id="recommendedCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            {% for book in recommended_books|filter_status:1 %}
                                {% if forloop.counter0|divisibleby:device_type %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="d-flex justify-content-center">
                                {% endif %}

                                <div class="card mx-2 Book">
                                    <a href="{% url 'book_details_list' book.slug %}">
                                        <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                                    </a>
                                    <div class="card-body book-title-index">
                                        <h5 class="card-title">{{ book.booktitle }}</h5>
                                    </div>
                                </div>

                                {% if forloop.counter|divisibleby:device_type or forloop.last %}
                                        </div> <!-- .d-flex -->
                                    </div> <!-- .carousel-item -->
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                        {% if recommended_books|length > device_type %}
                            <!-- Carousel Controls -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#recommendedCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#recommendedCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                        {% endif %}

                        <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
                    </div>
                </div>
            {% endwith %}
        {% endif %}
    {% else %}
        <!-- New Additions Section -->
        {% with new_additions=BookStorePages|filter_new_additions_not_auth %}
            <div class="container mt-5 shelf-container">
                <div class="shelf-title-wrapper">
                    <span class="shelf-title">New Additions</span>
                </div>
                
                <div id="newadditionsCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        {% for book in new_additions|filter_status:1 %}
                            {% if forloop.counter0|divisibleby:device_type %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="d-flex justify-content-center">
                            {% endif %}

                            <div class="card mx-2 Book">
                                <a href="{% url 'book_details_list' book.slug %}">
                                    <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                                </a>
                            </div>

                            {% if forloop.counter|divisibleby:device_type or forloop.last %}
                                    </div> <!-- .d-flex -->
                                </div> <!-- .carousel-item -->
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if new_additions|length > device_type %}
                        <!-- Carousel Controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#newadditionsCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#newadditionsCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    {% endif %}

                    <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
                </div>
            </div>
        {% endwith %}

        <!-- Popular Shelf -->
        {% with popular_books=BookStorePages|filter_and_sort_by_rating_not_auth %}
            <div class="container mt-5 shelf-container-popular">
                <div class="shelf-title-wrapper">
                    <span class="shelf-title">Popular</span>
                </div>
                
                <div id="popularCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        {% with accessible_books=user.profile.visible_books.all|filter_and_sort_by_rating_not_auth %}
                            {% for book in accessible_books|filter_status:1 %}
                                {% if forloop.counter0|divisibleby:device_type %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="d-flex justify-content-center">
                                {% endif %}

                                <div class="card mx-2 Book">
                                    <a href="{% url 'book_details_list' book.slug %}">
                                        <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                                    </a>
                                    <div class="card-body book-title-index">
                                        <h5 class="card-title">{{ book.booktitle }}</h5>
                                    </div>
                                </div>

                                {% if forloop.counter|divisibleby:device_type or forloop.last %}
                                        </div> <!-- .d-flex -->
                                    </div> <!-- .carousel-item -->
                                {% endif %}
                            {% endfor %}
                            
                            {% if accessible_books|length > device_type %}
                                <!-- Carousel Controls -->
                                <button class="carousel-control-prev" type="button" data-bs-target="#popularCarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#popularCarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
                </div>
            </div>
        {% endwith %}
    {% endif %}
{% endif %}  

<div class="fix-footer">
</div>

{% endblock %}