{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block content %}


<form action="{% url 'book_search' %}" method="get" class="Search-ribbon">
    <input type="text" name="q" placeholder="Search books..." value="{{ request.GET.q }}" class="search-box">
    <button type="submit" class="search-button">
        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
    </button>
</form>

{{ book_list|length }}
    {% for book in book_list %}
        {{ book.title }}
    {% endfor %}

{{ popular_books|length }}
    {% for book in popular_books %}
        {{ book.title }}
    {% endfor %}

{% if request.GET.q %}
    <!-- Search Results -->
    
    
    <div class="container mt-5 shelf-container">
        <div class="Search_Info">
            <h2 class="searchtext">Search Results for "{{ request.GET.q }}"</h2>
        </div>
        <div class="row row-cols-3 row-cols-md-4 row-cols-lg-8">
            {% for book in book_list_search %}
                <div class="col mb-4">
                    <div class="card Book h-100">
                        <a href="{% url 'book_details_list' book.slug %}">
                            <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                        </a>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <div class="search_empty_box">
                        <p class="searchempty">No books found matching your search.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if is_paginated %}
        <!-- Pagination controls here -->
    {% endif %}

{% else %}
    <!-- Default Shelves -->

    <!-- New Additions Section -->
    <div class="container mt-5 shelf-container">
        <div class="shelf-title-wrapper">
            <span class="shelf-title">New Additions</span>
        </div>
        
        <div id="newadditionsCarousel" class="carousel slide">
            <div class="carousel-inner">
                {% for book in new_additions %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="d-flex justify-content-center">
                    {% endif %}

                    <div class="card mx-2 Book">
                        <a href="{% url 'book_details_list' book.slug %}">
                            <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                        </a>
                        <div class="card-body book-title-index">
                            <h5 class="card-title">{{ book.booktitle }}</h5>
                            <p class="card-text">Released: {{ book.created_on|date:"F d, Y" }}</p>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 or forloop.last %}
                            </div> <!-- .d-flex -->
                        </div> <!-- .carousel-item -->
                    {% endif %}
                {% empty %}
                    <p>No new books in the last 5 days.</p>
                {% endfor %}
            </div>
            {% if forloop.counter > 3 %}
            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#newadditionsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#newadditionsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>

            {% endif %}

            <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
            
        </div>
    </div>

    <!-- Popular Authors Section, ADD FUNCTIONALITY -->

    
    {% with popular_books=book_list|filter_and_sort_by_rating %}
        {% if popular_books %}
            <div class="container mt-5 shelf-container">
                <div class="shelf-title-wrapper">
                    <span class="shelf-title">Popular Authors</span>
                </div>
                
                <div id="popularauthorsCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        {% for book in popular_books %}
                            {% if forloop.counter0|divisibleby:3 %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="d-flex justify-content-center">
                            {% endif %}

                            <div class="card mx-2 Book">
                                <a href="{% url 'book_details_list' book.slug %}">
                                    <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                                </a>
                                <div class="card-body book-title-index">
                                    <h5 class="card-title">{{ book.booktitle }}</h5>
                                </div>
                            </div>

                            {% if forloop.counter|divisibleby:3 or forloop.last %}
                                    </div> <!-- .d-flex -->
                                </div> <!-- .carousel-item -->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Carousel Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#popularauthorsCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#popularauthorsCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>

                    <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <!-- Popular Books Section -->
    {% with popular_books=book_list|filter_and_sort_by_rating %}
        {% if popular_books %}
            <div class="container mt-5 shelf-container">
                <div class="shelf-title-wrapper">
                    <span class="shelf-title">Popular Books</span>
                </div>
                
                <div id="popularBooksCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        {% for book in popular_books %}
                            {% if forloop.counter0|divisibleby:3 %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="d-flex justify-content-center">
                            {% endif %}

                            <div class="card mx-2 Book">
                                <a href="{% url 'book_details_list' book.slug %}">
                                    <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                                </a>
                                <div class="card-body book-title-index">
                                    <h5 class="card-title">{{ book.booktitle }}</h5>
                                </div>
                            </div>

                            {% if forloop.counter|divisibleby:3 or forloop.last %}
                                    </div> <!-- .d-flex -->
                                </div> <!-- .carousel-item -->
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                    <!-- Carousel Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#popularBooksCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#popularBooksCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>

                    <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
                </div>
            </div>
        {% endif %}
    {% endwith %}

    {% if user.is_authenticated %}
        <!-- From Authors You've Liked -->
        <div class="container mt-5 shelf-container">

            <div class="shelf-title-wrapper">
                <span class="shelf-title">From Authors You've Liked</span>
            </div>
            
            <div id="likedauthorsCarousel" class="carousel slide">
                <div class="carousel-inner">
                    {% for book in recommended_books %}
                        {% if forloop.counter0|divisibleby:3 %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="d-flex justify-content-center">
                        {% endif %}

                        <div class="card mx-2 Book">
                            <a href="{% url 'book_details_list' book.slug %}">
                                <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                            </a>
                            <div class="card-body book-title-index">
                                <h5 class="card-title">{{ book.booktitle }}</h5>
                            </div>
                        </div>

                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                                </div> <!-- .d-flex -->
                            </div> <!-- .carousel-item -->
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Carousel Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#likedauthorsCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#likedauthorsCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>

                <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
            </div>
        </div>

        <!-- Fantasy Shelf -->
        <div class="container mt-5 shelf-container">

            <div class="shelf-title-wrapper">
                <span class="shelf-title">Recommended</span>
            </div>
            
            <div id="bookCarousel" class="carousel slide">
                <div class="carousel-inner">
                    {% for book in recommended_books %}
                        {% if forloop.counter0|divisibleby:3 %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="d-flex justify-content-center">
                        {% endif %}

                        <div class="card mx-2 Book">
                            <a href="{% url 'book_details_list' book.slug %}">
                                <img src="{{ book.bookcover.url }}" class="card-img-top" alt="{{ book.booktitle }}">
                            </a>
                            <div class="card-body book-title-index">
                                <h5 class="card-title">{{ book.booktitle }}</h5>
                            </div>
                        </div>

                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                                </div> <!-- .d-flex -->
                            </div> <!-- .carousel-item -->
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Carousel Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>

                <img src="{% static 'images/Wood_Shelf.webp' %}" class="wood-shelf" alt="Wood Shelf">
            </div>
        </div>
    {% endif %}  
{% endif %}  

<div class="fix-footer">
</div>

{% endblock %}