:root {
    --white: #ffffff;
    --main-red : #CF2A27;
    --ribbon-red : #990000;
    --shadow-color : #00000036;
}

/* Body */
body {
    background-image: url('../images/wood.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Navbar */
.navbar {
    background-color:#CF2A27 !important;
    color: var(--white) !important;
    position: sticky;
    top: 0;
    z-index: 1030;
    box-shadow: 0 4px 6px var(--shadow-color);
    width: 100%;
}

.navbar-brand {
    color: var(--white) !important;
}

.nav-link {
    color: var(--white) !important;
}

.navbar-toggler-icon {
    filter: invert(1) !important;
    color: white !important;
}

.navbar-toggler {
    border: none !important;
    color: var(--white) !important;
}

.nav-link.active {
    color: white !important;
    text-decoration: underline;
}

.navbar-nav {
    --bs-nav-link-color: white !important;
}

.NavIcon {
    padding-right: 10px;
}

/* Footer */

.footer {
    background-color:#CF2A27 !important;
    color: var(--white);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 30;
    box-shadow: 0 -4px 6px var(--shadow-color);
}

.footer-icons {
    padding : 5px;
    color: var(--white);
    text-decoration: none;
}

/* BookPage.html */
.Book {
    width: 18rem;
}

/* Custom positioning for the carousel controls */

.carousel-control-prev {
    left: -25px;
}

.carousel-control-next {
    right: -25px;
}

.wood-shelf {
    width: 100%;
}


.shelf-title-wrapper {
    position: relative;
    top: -20px;
    left: -20px;
    z-index: 1000;
}

.shelf-title {
    background-color: var(--ribbon-red);
    padding: 10px 20px;
    border-radius: 0 8px 8px 0; /* Rounded right corners */

    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}