:root {
    --white: #ffffff;
    --main-red : #CF2A27;
    --shadow-color : #00000036;
}

/* Body */
body {
    background-image: url('../images/wood.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Navbar */
.navbar {
    background-color:#CF2A27 !important;
    color: var(--white) !important;
    position: sticky;
    top: 0;
    z-index: 1030;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.navbar-brand {
    color: var(--white) !important;
}

/*BELOW ISNT WORKING CONSULT HUMAN PLS*/

.nav-link {
    color: var(--white) !important;
}

.navbar-toggler-icon {
    filter: invert(1) !important;
    color: white !important;
}

.navbar-toggler {
    border: none !important;
    color: var(--white) !important;
}

/* .collapse {
    border: none !important;
    color: var(--white) !important;
} */

.nav-link.active {
    color: white !important;
    text-decoration: underline;
}

.navbar-nav {
    --bs-nav-link-color: white !important;
}


/*ABOVE ISNT WORKING CONSULT HUMAN PLS*/

/* Footer */

.footer {
    background-color:#CF2A27 !important;
    color: var(--white) !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 30;
    box-shadow: 0 -4px 6px var(--shadow-color);
}

.footer-icons {
    color: var(--white) !important;
}